.banner {
  position: relative;
  min-height: 540px;
  background-color: $black;
  @media (max-width: $md2+px) {
    padding-top: 10px;
  }
  @media (max-width: $md3+px) {
    padding-top: 30px;
  }
  @media (max-width: $md4+px) {
    padding-top: 50px;
  }
  &__picture {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: $md4+px) {
      float: left;
      width: 280px;

      img {
        min-width: 460px;
        margin: 0 0 0 -90px;
      }
    }
  }
  &__content {
    position: absolute;
    color: $white;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    @media (max-width: $md4+px) {
      top: 70%;
    }
  }
  &__title {
    font-size: 65px;
    line-height: 1;
    margin-bottom: 25px;
    text-align: center;
    @media (max-width: $md2+px) {
      font-size: 55px;
    }
    @media (max-width: $md3+px) {
      font-size: 40px;
    }
    @media (max-width: $md4+px) {
      font-size: 35px;
      line-height: calc(40 / 35 * 100%);
    }
  }
  &__descripton {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    color: $grey;
    @media (max-width: $md4+px) {
      font-size: 18px;
    }
  }
  &__button {
    margin: 30px auto 90px auto;
    @media (max-width: $md4+px) {
      margin: 37px auto 60px auto;
    }
  }
}

.testimonials {
  hr {
    height: 2px;
    color: $white;
    width: 100%;
  }
  &__title {
    padding: 90px 0 40px 0;
    @media (max-width: $md3+px) {
      padding: 60px 0 30px 0;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 74px 7% 65px 0;
    @media (max-width: $md2+px) {
      padding: 74px 2% 65px 0;
    }
    @media (max-width: $md3+px) {
      display: block;
      padding: 38px 0 46px 0;
    }
    img {
      max-width: 100px;
      width: 100%;
      height: auto;
      border-radius: 100%;
    }
  }
  &__item-description {
    max-width: 580px;
    @media (max-width: $md2+px) {
      max-width: 350px;
    }
    @media (max-width: $md3+px) {
      max-width: 700px;
    }
  }
  &__item-info {
    width: 220px;
    @media (max-width: $md3+px) {
      margin-bottom: 43px;
    }
    p {
      color: $grey;
    }
    h4 {
      @media (max-width: $md3+px) {
        margin-bottom: 20px;
      }
    }
  }
  &__button {
    padding: 40px 0;
  }
  ._button-arrow {
    margin: 0 7% 0 auto;
    @media (max-width: $md2+px) {
      margin: 0 2% 0 auto;
    }
    @media (max-width: $md3+px) {
      margin: 0 auto;
    }
  }
  ._bg-light-grey {
    background-color: $light-grey;
    @media (max-width: $md3+px) {
      background-color: $dark-white;
    }
  }
  ._bg-white {
    @media (max-width: $md3+px) {
      background-color: $white;
    }
  }
}

.products {
  margin: 110px 0 60px 0;
  @media (max-width: $md3+px) {
    margin: 88px 0 60px 0;
  }
  h1 {
    margin-left: 100px;
    @media (max-width: $md3+px) {
      margin-left: 0;
    }
  }
  &__item {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md3+px) {
      margin-top: 0;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(2),
    &:nth-child(4) {
      flex-direction: row-reverse;
      @media (max-width: $md3+px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__item-content {
    margin-left: 100px;
    @media (max-width: $md3+px) {
      margin-left: 0;
    }
    p {
      max-width: 410px;
      margin: 4px 0 26px 0;
    }
  }
  &__picture {
    width: 50%;
    height: 500px;
    background-color: $dark-white;
    position: relative;
    @media (max-width: $md2+px) {
      height: 400px;
    }
    @media (max-width: $md3+px) {
      width: 100%;
      height: 300px;
      margin: 60px 0 30px 0;
    }
    picture {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      img {
        max-width: 550px;
        width: 100%;
        height: auto;
      }
    }
  }
}

.introduction {
  background-color: $dark-white;
  &__content {
    display: flex;
    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }
  &__content-item {
    width: 50%;
    @media (max-width: $md4+px) {
      width: 100%;
    }

    &:first-child {
      padding: 115px 0 65px 100px;
      border-right: $white 2px solid;
      @media (max-width: $md2+px) {
        padding: 115px 20px 65px 20px;
      }
      @media (max-width: $md4+px) {
        border-right: none;
        border-bottom: $white 2px solid;
        padding: 60px 0 45px 0;
      }
    }
    &:last-child {
      padding: 115px 0 65px 140px;
      @media (max-width: $md2+px) {
        padding: 115px 20px 65px 20px;
      }
      @media (max-width: $md4+px) {
        padding: 60px 0 45px 0;
      }
    }
  }
  &__content-item-icon {
    height: 60px;
    width: 40px;
    margin-bottom: 40px;
  }
  p {
    max-width: 334px;
  }
  &__picture {
    img {
      max-width: 1280px;
      width: 100%;
      height: auto;
    }
  }
}

.brands {
  h2 {
    margin-bottom: 40px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    picture {
      img {
        width: 80px;
        height: auto;
      }
    }
  }
}

.vendors {
  h2 {
    margin-bottom: 45px;
  }
  &__items {
    margin: 18px 0 44px 0;
    display: flex;
    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    position: relative;
    width: 25%;
    height: 100px;
    border: $dark-white 2px solid;
    cursor: pointer;
    transition: 0.5s;
    @media (max-width: $md4+px) {
      width: 100%;
      height: 90px;
    }
    &:hover {
      border: $blue 2px solid;
    }
    picture {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      img {
        width: 200px;
        height: auto;
      }
    }
  }
}
