main {
  padding-top: 100px;
}

.products {
  margin: 110px 0 60px 0;
  @media (max-width: $md3+px) {
    margin: 88px 0 60px 0;
  }
  h1 {
    margin-left: 100px;
    @media (max-width: $md3+px) {
      margin-left: 0;
    }
  }
  &__item {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $md3+px) {
      margin-top: 0;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
    &:first-child {
      margin-top: 0;
    }
    &:nth-child(2),
    &:nth-child(4) {
      flex-direction: row-reverse;
      @media (max-width: $md3+px) {
        flex-direction: column-reverse;
      }
    }
  }
  &__item-content {
    margin-left: 100px;
    @media (max-width: $md3+px) {
      margin-left: 0;
    }
    p {
      max-width: 410px;
      margin: 4px 0 26px 0;
    }
  }
  &__picture {
    width: 50%;
    height: 500px;
    background-color: $dark-white;
    position: relative;
    @media (max-width: $md2+px) {
      height: 400px;
    }
    @media (max-width: $md3+px) {
      width: 100%;
      height: 300px;
      margin: 60px 0 30px 0;
    }
    picture {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      img {
        max-width: 550px;
        width: 100%;
        height: auto;
      }
    }
  }
}

.introduction {
  background-color: $dark-white;
  &__content {
    display: flex;
    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }
  &__content-item {
    width: 50%;
    @media (max-width: $md4+px) {
      width: 100%;
    }

    &:first-child {
      padding: 115px 0 65px 100px;
      border-right: $white 2px solid;
      @media (max-width: $md2+px) {
        padding: 115px 20px 65px 20px;
      }
      @media (max-width: $md4+px) {
        border-right: none;
        border-bottom: $white 2px solid;
        padding: 60px 0 45px 0;
      }
    }
    &:last-child {
      padding: 115px 0 65px 140px;
      @media (max-width: $md2+px) {
        padding: 115px 20px 65px 20px;
      }
      @media (max-width: $md4+px) {
        padding: 60px 0 45px 0;
      }
    }
  }
  &__content-item-icon {
    height: 60px;
    width: 40px;
    margin-bottom: 40px;
  }
  p {
    max-width: 334px;
  }
  &__picture {
    img {
      max-width: 1280px;
      width: 100%;
      height: auto;
    }
  }
}

.brands {
  h2 {
    margin-bottom: 40px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    picture {
      img {
        width: 80px;
        height: auto;
      }
    }
  }
}

.vendors {
  h2 {
    margin-bottom: 45px;
  }
  &__items {
    margin: 18px 0 44px 0;
    display: flex;
    @media (max-width: $md4+px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    position: relative;
    width: 25%;
    height: 100px;
    border: $dark-white 2px solid;
    cursor: pointer;
    transition: 0.5s;
    @media (max-width: $md4+px) {
      width: 100%;
      height: 90px;
    }
    &:hover {
      border: $blue 2px solid;
    }
    picture {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      img {
        width: 200px;
        height: auto;
      }
    }
  }
}
