.privacyPolicy {
  padding-top: 100px;
  @media (max-width: $md3+px) {
    padding-top: 60px;
  }
  &__content {
    margin: 130px 200px 160px 200px;
  }
  h1 {
    margin-bottom: 70px;
    text-align: center;
  }
  a {
    color: $blue;
  }
  br {
    display: block;
    content: '';
    margin: 15px 0;
  }
  span {
    color: $grey;
  }
}
