.footer-form {
  height: 570px;
  background-color: $darkPinc;
  @media (max-width: $md3+px) {
    height: 480px;
  }
  &__text-block {
    @media (max-width: $md4+px) {
      margin-right: 10px;
      width: 35%;
      &:nth-child(2) {
        width: 30%;
      }
      &:first-child {
        margin-right: 0;
      }
    }
  }
  &__title {
    margin: 0;
    margin-top: 20px;
    text-transform: uppercase;
    color: $white;
    font-size: 14px;
    font-family: $fontFamily2;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: calc(30 / 14 * 100%);
    @media (max-width: $md3+px) {
      margin-top: 0;
    }
  }
  &__text {
    margin: 0;
    color: $white;
    font-size: 22px;
    line-height: calc(30 / 22 * 100%);
    @media (max-width: $md3+px) {
      font-size: 18px;
    }
    @media (max-width: $md4+px) {
      font-size: 12px;
    }
  }
  &__input {
    margin: 0;
    font-size: 18px;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    padding: 0 15px;
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    &:focus {
      border: 1px solid #856c83;
    }
    &:valid {
      color: #856c83;
    }
    @media (max-width: $md4+px) {
      height: 40px;
    }
  }
  &__input::placeholder {
    color: $white;
    font-size: 18px;
    font-style: italic;
    @media (max-width: $md3+px) {
      font-size: 16px;
    }
    @media (max-width: $md4+px) {
      font-size: 14px;
    }
  }
  ._large {
    height: 100px;
    @media (max-width: $md3+px) {
      height: 80px;
    }
  }
  &__button {
    background-color: $darkPinc;
    color: $white;
    border: 1px solid $white;
    border-radius: 0px;
    text-transform: none;
    font-size: 18px;
    width: 210px;
    height: 50px;
    &:hover {
      background-color: #856c83;
    }
    @media (max-width: $md4+px) {
      height: 40px;
      width: 100%;
      font-size: 16px;
    }
  }

  .grid {
    padding: 35px 18% 80px 145px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5);
    grid-row-gap: 30px;
    grid-column-gap: 24px;
    @media (max-width: $md2+px) {
      padding: 30px 50px 30px 50px;
    }
    @media (max-width: $md3+px) {
      grid-row-gap: 20px;
      grid-column-gap: 15px;
      padding: 20px 20px 20px 20px;
    }
    @media (max-width: $md4+px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(7);
      grid-row-gap: 10px;
      grid-column-gap: 10px;
    }
  }
  .grid-item-01 {
    grid-column: 1/2;
    grid-row: 1/6;
    @media (max-width: $md4+px) {
      grid-column: 1/3;
      grid-row: 1/2;
      display: flex;
      flex-direction: row-reverse;
    }
  }
  .grid-item-02 {
    grid-column: 2/4;
    grid-row: 1/2;
    @media (max-width: $md4+px) {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
  .grid-item-03 {
    grid-column: 2/3;
    grid-row: 2/3;
    @media (max-width: $md4+px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }
  .grid-item-04 {
    grid-column: 3/4;
    grid-row: 2/3;
    @media (max-width: $md4+px) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }
  .grid-item-05 {
    grid-column: 2/3;
    grid-row: 3/4;
    @media (max-width: $md4+px) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
  }
  .grid-item-06 {
    grid-column: 3/4;
    grid-row: 3/4;
    @media (max-width: $md4+px) {
      grid-column: 2/3;
      grid-row: 4/5;
    }
  }
  .grid-item-07 {
    grid-column: 2/4;
    grid-row: 4/5;
    @media (max-width: $md4+px) {
      grid-column: 1/3;
      grid-row: 5/6;
    }
  }
  .grid-item-08 {
    grid-column: 2/4;
    grid-row: 5/6;
    @media (max-width: $md4+px) {
      grid-column: 1/3;
      grid-row: 6/7;
    }
  }
}

.footer-subscribe {
  height: 310px;
  &__title {
    margin: 0;
    padding: 95px 0 0 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: $fontFamily2;
    color: $lightText;
    @media (max-width: $md3+px) {
      padding: 50px 0 0 0;
    }
  }
  &__description {
    color: $darkText;
    text-align: center;
    width: 300px;
    font-size: 24px;
    margin: 0 auto;
  }
  &__info {
    margin: 13px auto;
    width: 550px;
    justify-content: center;
    display: flex;
    @media (max-width: $md3+px) {
      flex-wrap: wrap;
      width: 100%;
    }
  }
  &__input {
    margin: 0;
    color: $lightText;
    background-color: transparent;
    border: 1px solid $darkPinc;
    border-right: none;
    padding: 0 24px;
    box-sizing: border-box;
    height: 60px;
    width: 208px;
    @media (max-width: $md3+px) {
      border-right: 1px solid $darkPinc;
      margin: 0 5px 10px 5px;
    }
    @media (max-width: $md4+px) {
      height: 40px;
      width: 170px;
    }
    @media (max-width: 290px) {
      margin-right: 0;
      width: 180px;
    }
  }
  &__input::placeholder {
    color: $lightText;
    font-size: 18px;
    font-style: italic;
  }
  &__button {
    background-color: $darkPinc;
    color: $white;
    border: 1px solid $darkPinc;
    border-radius: 0px;
    font-size: 18px;
    height: 60px;
    width: 180px;
    text-transform: none;
    @media (max-width: $md4+px) {
      height: 50px;
    }
  }
}

.footer-delivery {
  height: 235px;
  background-color: $lightPinc;
  &__items {
    padding: 46px 10% 0 10%;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md3+px) {
      padding: 26px 10% 0 10%;
    }
  }
  &__item {
    width: 200px;
    @media (max-width: $md3+px) {
      margin-right: 10px;
      width: 150px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: $md4+px) {
      width: 75px;
    }
  }
  &__icon {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    max-width: 95px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    margin: 0;
    font-size: 22px;
    color: $white;
    text-align: center;
    @media (max-width: $md3+px) {
      font-size: 16px;
      line-height: 150%;
    }
    @media (max-width: $md4+px) {
      font-size: 14px;
      line-height: 150%;
      margin-top: 10px;
    }
  }
}

.footer-navigation {
  padding-top: 30px;
  height: 100px;
  position: relative;
  background-color: $darkPinc;
  @media (max-width: $md4+px) {
    padding-top: 5px;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__logo {
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: $md2+px) {
      margin-left: 10px;
    }
    @media (max-width: $md4+px) {
      margin: 0 0 0 40px;
      width: 70px;
    }
    @media (max-width: 285px) {
      margin: 0 0 0 30px;
    }
  }
  &__menu-list {
    margin: 0 0 0 64px;
    display: flex;
    align-items: center;
    @media (max-width: $md3+px) {
      margin: 0 0 0 35px;
    }
    @media (max-width: $md4+px) {
      display: block;
    }
  }
  &__menu-link {
    @media (max-width: $md4+px) {
      line-height: 70%;
    }
    a {
      margin-right: 35px;
      color: $white;
      font-size: 21px;
      @media (max-width: $md3+px) {
        margin-right: 15px;
        font-size: 16px;
      }
      @media (max-width: $md4+px) {
        margin-right: 10px;
        font-size: 16px;
      }
      &:hover {
        color: $darkText;
      }
    }
  }
  .fb {
    position: absolute;
    top: 48px;
    right: 214px;
    height: 36px;
    width: 36px;
    background-color: $lightPinc;
    background-image: url(../img/f.svg);
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: $md2+px) {
      right: 2%;
    }
    @media (max-width: $md4+px) {
      right: 40px;
      top: 40px;
      height: 26px;
      width: 26px;
      background-size: 60%;
    }
  }
}

.footer-links {
  height: 30px;
  background-color: $darkPinc;
  position: relative;
  &__list {
    margin: -10px 0 0 0;
    padding: 0;
    display: flex;
    @media (max-width: $md2+px) {
      margin: -10px 0 0 10px;
    }
  }
  &__link {
    margin-right: 5px;
    list-style: none;
    a {
      text-decoration: none;
      color: $white;
      font-size: 12px;
      font-family: $fontFamily2;
      @media (max-width: $md3+px) {
        font-size: 8px;
      }
      &:hover {
        color: $darkText;
      }
    }
  }
  .errow {
    position: absolute;
    top: 0;
    height: 30px;
    width: 33px;
    background-color: $lightViolet;
    right: 110px;
    background-image: url(../img/errow.svg);
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: $md3+px) {
      display: none;
    }
  }
}
