@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'fonts';

$fontFamily1: 'Cormorant Garamond', serif;
$fontFamily2: 'Roboto', sans-serif;

$superDarkViolet: #a78ba4;
$darkViolet: #b08ead;
$lightViolet: #ba9fb7;
$darkPinc: #c9adc6;
$lightPinc: #ceb3cb;
$white: #ffffff;
$darkText: #5f4d5d;
$lightText: #b99bb6;
$grey: #b0b0b0;
$line: #d7b7d4;

$maxWidthContainer: 1214;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import 'normalize';
@import 'header';
@import 'banner';
@import 'introduction';

body {
  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  font-family: $fontFamily1;
  font-weight: 400;
  font-size: 24px;
  line-height: 30 / 24 * 100%;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
}

._button {
  background-color: $white;
  border-radius: 15px;
  font-family: $fontFamily2;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  border: 1px solid #b99bb6;
  box-sizing: border-box;
  border-radius: 25px;
  color: $lightText;
  text-align: center;
  height: 45px;
  width: 140px;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: $lightPinc;
    color: $white;
  }
}
