._footer-title {
  color: #000000;
  font-weight: 700;
  @include avaptive-value('font-size', 24, 20, 1);
  line-height: calc(29 / 24 * 100%);
}

.footer {
  &__body {
    border-top: #d8d8d8 1px solid;
    display: grid;
    grid-template-columns: 250px 1fr 260px;
    @include avaptive-value('padding-top', 80, 30, 1);
    @include avaptive-value('padding-bottom', 60, 30, 1);
    @include avaptive-value('column-gap', 70, 0, 1);

    @media (max-width: $md1+px) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 290px;
    }
    @media (max-width: $md2+px) {
      grid-template-columns: 1fr;
    }
  }
  &__main {
    max-width: 250px;
    @media (max-width: $md1+px) {
      grid-column: span 2;
      @include avaptive-value('margin-bottom', 40, 30, 1);
    }
  }
  &__logo {
  }
  &__text {
    @include avaptive-value('margin-top', 16, 10, 1);
    color: #616161;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
  }
  &__contacts {
  }
  &__menu {
    @media (min-width: $md3+px) {
      display: flex;
    }
    @media (max-width: $md2+px) {
      grid-column: span 2;
      @include avaptive-value('margin-bottom', 40, 30, 1);
    }
  }
  &__subscribe {
  }
}

.contacts-footer {
  &__item {
    display: inline-flex;
    align-items: center;
    @include avaptive-value('margin-top', 16, 10, 1);
    color: #616161;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    transition: color 0.3s ease 0s;
    &::before {
      margin: 0 8px 0 0;
    }
    &:hover {
      color: $orange;
    }
  }
}

.menu-footer {
  &__column {
    @media (min-width: $md3+px) {
      flex: 0 1 33.3333%;
    }
  }
  &__title {
    text-align: left;
    @media (min-width: $md3+px) {
      cursor: default;
    }
    @media (max-width: $md3+px) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: $orange;
      }
    }
    @include avaptive-value('margin-bottom', 16, 10, 1);
  }
  &__list {
    @media (min-width: $md3+px) {
      li {
        &:not(:last-child) {
          @include avaptive-value('margin-bottom', 16, 10, 1);
        }
      }
    }
    li {
      @include avaptive-value('margin-bottom', 16, 10, 1);
    }
  }
  &__link {
    display: inline-flex;
    color: #616161;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    transition: color 0.3s ease 0s;
    &:hover {
      color: $orange;
    }
  }
}

.subscribe {
  &__title {
    @include avaptive-value('margin-bottom', 16, 10, 1);
  }
  &__form {
    display: flex;
  }
  .form__input {
    width: 100%;
    background-color: #f4f5f7;
    padding: 0 12px;
    &::placeholder {
      font-size: 16px;
      color: #828282;
      transition: color 0.3s ease 0s;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  &__button {
    flex: 0 0 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: $orange;
    color: $white;
    margin-left: 4px;
    transform: background-color 0.3s ease 0s;
    &:hover {
      background-color: #e68e58;
    }
  }
  ._icon-send {
  }
}
