.footer {
  @include avaptive-value('margin-bottom', 32, 16, 1);
  .subscribe {
    background-color: $black;
    @include avaptive-value('margin-bottom', 50, 10, 1);
    &__content {
      color: $white;
      text-align: center;
      padding: 80px 0 85px 0;
      @media (max-width: $md4+px) {
        padding: 60px 10px 65px 10px;
      }
    }
    &__content-header {
      @include avaptive-value('font-size', 14, 10, 1);
    }
    &__content-title {
      @include avaptive-value('font-size', 36, 26, 1);
      line-height: calc(50 / 36 * 100%);
      margin: 15px 0 25px 0;
    }
    &__content-info {
      display: flex;
      justify-content: center;
      @media (max-width: $md4+px) {
        display: block;
      }
    }
    &__content-email {
      @include avaptive-value('width', 350, 250, 1);
      @include avaptive-value('height', 54, 30, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: #2f303e solid 1px;
      padding-left: 18px;
      margin-right: 10px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: #2f303e;
      }
      @media (max-width: $md4+px) {
        text-align: center;
        padding: 18px 0 18px 0;
        margin: 0 auto 10px auto;
      }
      a {
        @include avaptive-value('font-size', 12, 10, 1);
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
    &__content-button {
      display: flex;
      justify-content: center;
      align-items: center;
      @include avaptive-value('height', 54, 30, 1);
      width: 130px;
      background-color: #ffffffee;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: $white;
      }
      @media (max-width: $md4+px) {
        margin: 0 auto;
        height: 34px;
        padding: 10px 0 10px 0;
      }
      a {
        @include avaptive-value('font-size', 12, 10, 1);
        color: $black;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }

  ._footer-title {
    color: #000000;
    font-weight: 700;
    @include avaptive-value('font-size', 14, 13, 1);
    line-height: calc(29 / 14 * 100%);
  }

  &__body {
    display: grid;
    grid-template-columns: 250px 1fr;
    @include avaptive-value('padding-top', 80, 30, 1);
    @include avaptive-value('padding-bottom', 60, 30, 1);
    @include avaptive-value('column-gap', 70, 0, 1);

    @media (max-width: $md1+px) {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
    }
  }
  &__main {
    max-width: 250px;
    @media (max-width: $md1+px) {
      grid-column: span 2;
      @include avaptive-value('margin-bottom', 60, 30, 1);
    }
  }
  &__logo {
    display: flex;
    color: #000000;
    font-weight: 700;
    letter-spacing: 1.2px;
    @include avaptive-value('font-size', 18, 16, 1);
    @include avaptive-value('margin-bottom', 16, 10, 1);
  }
  &__text {
    color: $black;
    opacity: 0.8;
    @include avaptive-value('font-size', 16, 14, 1);
    line-height: calc(24 / 16 * 100%);
  }
  &__menu {
    @media (min-width: $md3+px) {
      display: flex;
    }
    @media (max-width: $md2+px) {
      grid-column: span 2;
    }
  }
}

.menu-footer {
  &__column {
    @media (min-width: $md3+px) {
      flex: 0 1 33.33%;
    }
  }
  &__title {
    background: transparent;
    text-align: left;
    @media (min-width: $md3+px) {
      cursor: default;
    }
    @media (max-width: $md3+px) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: $brown;
      }
    }
    @include avaptive-value('margin-bottom', 16, 10, 1);
  }
  &__list {
    li {
      color: $black;
      opacity: 0.8;
      @include avaptive-value('font-size', 16, 14, 1);
      @include avaptive-value('margin-bottom', 16, 10, 1);
    }
  }
  &__link {
    display: inline-flex;
    color: $black;
    @include avaptive-value('font-size', 16, 14, 1);
    line-height: calc(24 / 16 * 100%);
    transition: color 0.3s ease 0s;
    &:hover {
      color: $brown;
    }
  }
}

.copy {
  display: flex;
  justify-content: space-between;
  color: $black;
  opacity: 0.5;
  letter-spacing: 1.2px;
  @include avaptive-value('font-size', 14, 10, 1);
}
