@import 'mixins';
@import 'fonts';

$fontFamily: 'Karla', sans-serif;

$brown: #a25f4b;
$black: #1d1f2e;
$white: #ffffff;

$minWidth: 320px;
$maxWidth: 1380px;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import 'normalize';
@import 'header';
@import 'mainPage';
@import 'footer';

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    margin: 0 25px;
  }
}

._h6 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.section__title {
  display: flex;
  justify-content: center;
  text-align: center;
  &::after {
    content: '';
    width: 30px;
    height: 1px;
    background: #ececed;
    margin: auto 15px;
  }
  &:before {
    content: '';
    width: 30px;
    height: 1px;
    background: #ececed;
    margin: auto 15px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  width: 90%;
  height: 30px;
  background-color: rgba(162, 95, 75, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(162, 95, 75, 0.1);
  transition: all 0.3s ease 0s;
  min-height: 40px;
  color: $brown;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  &:hover {
    font-size: 14px;
  }
}

._footer-text {
  font-size: 14px;
  color: $black;
  line-height: calc(22 / 14 * 100%);
  opacity: 0.7;
  @media (max-width: $md3+px) {
    font-size: 12px;
  }
}

._fly-image {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.cart-header {
  position: relative;
  &__body {
    background-color: rgba(255, 255, 255);
    border: 1px solid #e0e0e0e3;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 15px;
    width: 300px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 20px);
    ._active & {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);
    }
    @media (max-width: $md2+px) {
      position: fixed;
      top: 80px;
      right: 0;
    }
    @media (max-width: $md3+px) {
      width: 100%;
    }
  }
}

.cart__button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  @media (max-width: $md2+px) {
    margin-right: 50px;
  }
  .cart__image {
    height: 20px;
    width: 16px;
    background-image: url(../img/buy.svg);
  }
  .cart__text {
    display: flex;
    align-items: center;
    margin: 0 9px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: $black;
    &:hover {
      color: $brown;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 7px;
      width: 20px;
      height: 18px;
      background-color: $black;
      border-radius: 100%;
      color: $white;
      font-size: 11px;
      font-family: $fontFamily;
      @media (max-width: $md2+px) {
        font-size: 14px;
      }
    }
  }
  @media (max-width: $md2+px) {
    margin-left: 0;
  }
}
.cart-list {
  overflow: auto;
  max-height: 200px;
  &__image {
    flex: 0 0 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }
  &__title {
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    margin-bottom: 5px;
  }
  &__quantity {
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__delete {
    font-size: 14px;
    color: rgb(228, 82, 15);
    @media (any-hover) {
      &:hover {
        font-weight: 500;
      }
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
