@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input::-ms-clear {
  display: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__logo {
  margin: 28px 0;
  width: 112px;
  height: 24px;
  background-image: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__content .header__menu .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .header .header__content .header__menu .menu__body {
    -webkit-transform: translate(0px, calc(-100% - 80px));
            transform: translate(0px, calc(-100% - 80px));
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: auto;
    padding: 100px 10px 30px 10px;
    background-color: #ffffff;
    opacity: 0.8;
  }
  .header .header__content .header__menu .menu__body._active {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

.header .header__content .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991.98px) {
  .header .header__content .header__menu .menu__list {
    display: block;
  }
  .header .header__content .header__menu .menu__list li {
    text-align: center;
    margin-bottom: 25px;
  }
}

.header .header__content .header__menu .menu__link {
  margin-right: 30px;
  color: #1d1f2e;
}

@media (max-width: 991.98px) {
  .header .header__content .header__menu .menu__link {
    font-size: 25px;
  }
}

.header .header__content .cart__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.header .header__content .cart__button .cart__image {
  height: 20px;
  width: 16px;
  background-image: url(../img/buy.svg);
}

.header .header__content .cart__button .cart__text {
  margin: 0 9px;
}

.header .header__content .cart__button .cart__text a {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  color: #1d1f2e;
}

.header .header__content .cart__button .cart__count {
  width: 20px;
  height: 18px;
  background-color: #1d1f2e;
  border-radius: 100%;
  text-align: center;
}

.header .header__content .cart__button .cart__count a {
  color: #ffffff;
  font-size: 11px;
  line-height: 18px;
  font-family: "Karla", sans-serif;
}

@media (max-width: 991.98px) {
  .header .header__content .cart__button {
    margin-left: 0;
  }
}

.icon-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .icon-menu {
    position: absolute;
    display: block;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1d1f2e;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.page {
  margin-bottom: 180px;
}

@media (max-width: 991.98px) {
  .page {
    margin-bottom: 80px;
  }
}

@media (max-width: 479.98px) {
  .page {
    margin-bottom: 40px;
  }
}

.banner {
  color: #ffffff;
  text-align: center;
  background-color: #050827;
  margin-bottom: 100px;
}

@media (max-width: 479.98px) {
  .banner {
    margin-bottom: 50px;
  }
}

.banner__bg {
  height: 530px;
  background-image: url(../img/main-banner.png);
}

.banner__small-title {
  padding-top: 160px;
}

.banner__title {
  font-size: 47px;
  padding: 10px 0;
}

.banner__text {
  font-size: 17px;
  padding: 0 0 30px 0;
}

@media (max-width: 991.98px) {
  .banner__text {
    margin: 0 30px;
    line-height: 25px;
  }
}

.banner__button {
  width: 231px;
  height: 33px;
  padding: 10px 0;
  background-color: #ffffff;
  margin: 0 auto;
  cursor: pointer;
}

.banner__button a {
  font-weight: 700;
  color: #1d1f2e;
}

.banner__button:hover {
  background-color: #a25f4b;
}

.article {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 991.98px) {
  .article {
    padding: 0 40px;
    text-align: center;
  }
}

@media (max-width: 479.98px) {
  .article {
    margin: 0 20px;
    padding: 0 20px;
  }
}

.article__title {
  font-size: 28px;
  line-height: 40px;
  color: #1d1f2e;
}

@media (max-width: 479.98px) {
  .article__title {
    font-size: 25px;
    line-height: 30px;
  }
}

.article__text {
  padding: 16px 0 21px 0;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}

.article__button {
  margin: 0 auto;
  width: 133px;
  height: 30px;
  -webkit-box-shadow: 0 2px 0 0 rgba(162, 95, 75, 0.2);
          box-shadow: 0 2px 0 0 rgba(162, 95, 75, 0.2);
  text-align: center;
}

.article__button a {
  color: #a25f4b;
  font-size: 15px;
  line-height: 28px;
}

.featured-mugs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .featured-mugs__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.featured-mugs__item {
  text-align: center;
  padding-bottom: 25px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .products__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .products__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    overflow: auto;
  }
}

.products__item {
  text-align: center;
  margin-bottom: 65px;
}

@media (max-width: 479.98px) {
  .products__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  .products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    margin: 0 0 0 0;
  }
}

@media (max-width: 991.98px) {
  .products__item-img {
    margin: 0 20px;
  }
}

@media (max-width: 479.98px) {
  .products__item-img {
    margin: 0 5px;
  }
}

.products__item-title {
  margin: 35px 0 5px 0;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 479.98px) {
  .products__item-title {
    margin: 15px 0 5px 0;
  }
}

.products__item-price ._sale {
  font-size: 19px;
  color: #a25f4b;
  margin-right: 10px;
}

.products__item-price ._active {
  font-size: 16px;
  margin-right: 10px;
}

.products__item-price ._deactive {
  font-size: 16px;
  opacity: 0.4;
  text-decoration: line-through;
  margin-right: 10px;
}

.products__item-price *:last-child {
  margin: 0;
}

@media (max-width: 991.98px) {
  .promotion__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.promotion__title {
  font-size: 36px;
  line-height: 138.88889%;
  padding: 14px 0 15px 0;
}

@media (max-width: 479.98px) {
  .promotion__title {
    font-size: 26px;
  }
}

.promotion__text {
  font-size: 16px;
  opacity: 0.7;
  line-height: 175%;
  margin-bottom: 25px;
}

@media (max-width: 479.98px) {
  .promotion__text {
    font-size: 12px;
  }
}

.promotion__button {
  width: 173px;
  height: 35px;
  background-color: #1d1f2e;
  text-align: center;
  padding: 10px 0;
}

.promotion__button a {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.promotion .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 25% 45%;
      grid-template-columns: 30% 25% 45%;
  -ms-grid-rows: 2;
      grid-template-rows: 2;
  grid-gap: 20px;
}

@media (max-width: 991.98px) {
  .promotion .grid {
    -ms-grid-columns: 280px 160px;
        grid-template-columns: 280px 160px;
    -ms-grid-rows: 3;
        grid-template-rows: 3;
    justify-items: center;
    grid-gap: 20px 10px;
  }
}

.promotion .grid-item-01 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.promotion .grid-item-02 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.promotion .grid-item-03 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.promotion .grid-item-04 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

@media (max-width: 991.98px) {
  .promotion .grid-item-04 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.bottom-banner {
  max-width: 1440px;
  margin: 130px auto 100px auto;
}

@media (max-width: 479.98px) {
  .bottom-banner {
    margin: 50px auto 50px auto;
  }
}

.stories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991.98px) {
  .stories__items {
    overflow: auto;
  }
}

.stories__item {
  max-width: 300px;
}

@media (max-width: 991.98px) {
  .stories__item {
    margin: 0 15px 0 15px;
  }
}

@media (max-width: 479.98px) {
  .stories__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 0 0 0 15px;
  }
}

.stories__item-title {
  font-size: 20px;
  line-height: 160%;
  margin: 30px 0 10px 0;
}

@media (max-width: 479.98px) {
  .stories__item-title {
    font-size: 18px;
    margin: 20px 0 10px 0;
  }
}

.stories__item-text {
  font-size: 16px;
  opacity: 0.7;
  line-height: 175%;
  padding-bottom: 9px;
}

.stories__item-text span {
  display: block;
  padding-top: 16px;
  letter-spacing: 2px;
}

@media (max-width: 479.98px) {
  .stories__item-text {
    font-size: 14px;
  }
  .stories__item-text span {
    padding-top: 5px;
    letter-spacing: 1.5px;
  }
}

.footer {
  margin-bottom: 60px;
}

@media (max-width: 991.98px) {
  .footer {
    margin-bottom: 30px;
  }
}

.footer .subscribe {
  background-color: #1d1f2e;
  margin-bottom: 100px;
}

@media (max-width: 991.98px) {
  .footer .subscribe {
    margin-bottom: 50px;
  }
}

@media (max-width: 479.98px) {
  .footer .subscribe {
    margin-bottom: 40px;
  }
}

.footer .subscribe__content {
  color: #ffffff;
  text-align: center;
  padding: 80px 0 85px 0;
}

@media (max-width: 479.98px) {
  .footer .subscribe__content {
    padding: 60px 10px 65px 10px;
  }
}

.footer .subscribe__content-title {
  font-size: 36px;
  line-height: 138.88889%;
  margin: 15px 0 25px 0;
}

.footer .subscribe__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479.98px) {
  .footer .subscribe__content-info {
    display: block;
  }
}

.footer .subscribe__content-email {
  width: 350px;
  height: 54px;
  background-color: transparent;
  border: #2f303e solid 1px;
  text-align: left;
  padding: 18px 0 18px 18px;
  margin-right: 10px;
  cursor: pointer;
}

.footer .subscribe__content-email:hover {
  background-color: #2f303e;
}

@media (max-width: 479.98px) {
  .footer .subscribe__content-email {
    width: 250px;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 auto 10px auto;
  }
}

.footer .subscribe__content-email a {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer .subscribe__content-button {
  width: 130px;
  height: 54px;
  background-color: #ffffff;
  text-align: center;
  padding: 18px 0 18px 0;
  cursor: pointer;
}

.footer .subscribe__content-button:hover {
  background-color: #ffffff94;
}

@media (max-width: 479.98px) {
  .footer .subscribe__content-button {
    margin: 0 auto;
    height: 34px;
    padding: 10px 0 10px 0;
  }
}

.footer .subscribe__content-button a {
  font-size: 12px;
  color: #1d1f2e;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  position: relative;
}

@media (max-width: 991.98px) {
  .footer .bottom-footer {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 767.98px) {
  .footer .bottom-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 479.98px) {
  .footer .bottom-footer {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  .footer .bottom-footer__block-01 {
    width: 25%;
  }
}

@media (max-width: 479.98px) {
  .footer .bottom-footer__block-01 {
    width: 100%;
  }
}

.footer .bottom-footer__block-01-logo {
  width: 111px;
  height: 24px;
  background-image: url(../img/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer .bottom-footer__block-01-text {
  padding: 22px 0 0 0;
}

@media (max-width: 479.98px) {
  .footer .bottom-footer__block-01-text {
    padding: 5px 0 0 0;
  }
}

.footer .bottom-footer__block-01-copy {
  position: absolute;
  bottom: 0;
  opacity: 0.3;
}

@media (max-width: 479.98px) {
  .footer .bottom-footer__block-01-copy {
    width: 50%;
  }
}

.footer .bottom-footer__title {
  margin-bottom: 23px;
}

.footer .bottom-footer__navigation-link {
  padding-bottom: 10px;
}

.footer .bottom-footer__navigation-link :last-child {
  padding-bottom: 0;
}

.footer .bottom-footer__navigation-link a {
  color: #1d1f2e;
}

.footer .bottom-footer__navigation-link a:hover {
  color: #a25f4b;
}

@media (max-width: 767.98px) {
  .footer .bottom-footer__block-04 {
    width: 25%;
  }
}

@media (max-width: 479.98px) {
  .footer .bottom-footer__block-04 {
    width: 35%;
  }
}

.footer .bottom-footer__block-04 span {
  opacity: 0.3;
  position: absolute;
  bottom: 0;
}

@media (max-width: 479.98px) {
  .footer .bottom-footer__block-04 span {
    left: 60%;
    width: 50%;
  }
}

.footer .bottom-footer__block-04-email {
  display: block;
  margin: 15px 0 0 0;
  color: #1d1f2e;
  font-size: 23px;
  line-height: 156.52174%;
}

.footer .bottom-footer__block-04-email:hover {
  color: #a25f4b;
}

@media (max-width: 767.98px) {
  .footer .bottom-footer__block-04-email {
    font-size: 16px;
  }
}

body .wrapper {
  width: 96%;
  min-height: 100%;
  margin: 0 2%;
  overflow: hidden;
}

._container {
  max-width: 940px;
  margin: 0 auto;
}

._h6 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 100px 0;
}

@media (max-width: 767.98px) {
  .section__title {
    margin: 50px 0;
  }
}

.section__title::after {
  content: '';
  width: 30px;
  height: 1px;
  background: #ececed;
  margin: auto 15px;
}

.section__title:before {
  content: '';
  width: 30px;
  height: 1px;
  background: #ececed;
  margin: auto 15px;
}

._footer-text {
  font-size: 14px;
  color: #1d1f2e;
  line-height: 157.14286%;
  opacity: 0.7;
}

@media (max-width: 767.98px) {
  ._footer-text {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */