.footer {
  .footer-01 {
    display: flex;
    margin-top: 40px;
    height: 638px;
    .footer-01-image {
      margin: 0 120px 0 100px;
      height: 485px;
      width: 250px;
      position: relative;
      .small-phone {
        position: absolute;
        top: 30px;
      }
      .large-phone {
        position: absolute;
        left: 20px;
      }
    }
    .download {
      margin: 34px 0 20px 0;
      width: 170px;
      height: 20px;
      background-color: $lightGreen;
      text-align: center;
      border-radius: 40%;
      padding: 10px 6px;
      a {
        font-size: 18px;
      }
    }
    .footer-description {
      margin: 30px 0 55px 0;
      line-height: 1.5;
    }
    .apps {
      a {
        margin-right: 24px;
      }
    }
  }
  .footer-02 {
    display: flex;
    justify-content: space-between;
    height: 435px;
    .block-01 {
      .planet-earth {
        height: 70px;
        width: 70px;
        background-size: 100%;
        margin: 66px 0 30px 0;
      }
      p {
        line-height: 1.6;
      }
    }
    h2 {
      margin: 105px 0 40px 0;
    }
    li {
      margin-bottom: 24px;
    }
    .block-04 {
      margin-right: 70px;
      .social-network {
        display: flex;
        margin-top: 25px;
        a {
          height: 24px;
          width: 24px;
          background-repeat: no-repeat;
          background-position: left center;
          margin-right: 50px;
        }
        .fb {
          background-image: url(utils/fb.svg);
        }
        .twitter {
          background-image: url(utils/twit.svg);
        }
        .instagram {
          background-image: url(utils/instagram.svg);
        }
      }
    }
  }
}
