


.banner {
  position: relative;
}
.planet-earth {
  height: 56px;
  width: 56px;
  background-image: url(utils/planet-earth.svg);
  background-position: center;
  background-repeat: no-repeat;
}





.section-03 {
  position: relative;
  margin-top: 145px;
  .leaves {
    position: absolute;
    bottom: 10px;
    right: 17px;
  }
  .banner-02 {
    height: 830px;
    .banner-02-content {
      display: flex;
      padding-top: 90px;
      .banner-02-img {
        margin-right: 50px;
      }
      .banner-02-info {
        margin-top: 30px;
        .banner-02-description {
          margin-top: 30px;
          line-height: 30px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

.section-04 {
  height: 750px;
  .section-04-content {
    display: flex;
    padding-top: 95px;
    .section-04-img {
      position: relative;
      height: 500px;
      width: 500px;
      border-radius: 100%;
      margin-left: 110px;
      margin-top: 44px;
      background-color: $lightGreen;
      background-image: url(utils/man.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      .people {
        position: absolute;
        width: 220pt;
        height: 150px;
        background-image: url(utils/people.png);
        background-position: center center;
        background-repeat: no-repeat;
        left: -48px;
        bottom: -35px;
      }
    }
    .section-04-info {
      margin-top: 5px;
      .section-04-description {
        margin-top: 40px;
        line-height: 30px;
        margin-bottom: 40px;
      }
      .section-04-username {
        margin: 0;
        font-size: 30px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .raiting {
          img {
            margin-right: 10px;
          }
        }
        div {
          display: flex;
          .button-left {
            height: 56px;
            width: 56px;
            border-radius: 100%;
            border: 1px #cccccc solid;
            background-image: url(utils/errow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            &:hover {
              background-color: seagreen;
            }
          }
          .button-right {
            margin-left: 26px;
            margin-right: 160px;
            height: 56px;
            width: 56px;
            border-radius: 100%;
            background-color: $darkGreen;
            border: 1px $darkGreen solid;
            background-image: url(utils/errow-right.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            &:hover {
              background-color: seagreen;
            }
          }
        }
      }
    }
  }
}

.footer {
  .footer-01 {
    display: flex;
    margin-top: 40px;
    height: 638px;
    .footer-01-image {
      margin: 0 120px 0 100px;
      height: 485px;
      width: 250px;
      position: relative;
      .small-phone {
        position: absolute;
        top: 30px;
      }
      .large-phone {
        position: absolute;
        left: 20px;
      }
    }
    .download {
      margin: 34px 0 20px 0;
      width: 170px;
      height: 20px;
      background-color: $lightGreen;
      text-align: center;
      border-radius: 40%;
      padding: 10px 6px;
      a {
        font-size: 18px;
      }
    }
    .footer-description {
      margin: 30px 0 55px 0;
      line-height: 1.5;
    }
    .apps {
      a {
        margin-right: 24px;
      }
    }
  }
  .footer-02 {
    display: flex;
    justify-content: space-between;
    height: 435px;
    .block-01 {
      .planet-earth {
        height: 70px;
        width: 70px;
        background-size: 100%;
        margin: 66px 0 30px 0;
      }
      p {
        line-height: 1.6;
      }
    }
    h2 {
      margin: 105px 0 40px 0;
    }
    li {
      margin-bottom: 24px;
    }
    .block-04 {
      margin-right: 70px;
      .social-network {
        display: flex;
        margin-top: 25px;
        a {
          height: 24px;
          width: 24px;
          background-repeat: no-repeat;
          background-position: left center;
          margin-right: 50px;
        }
        .fb {
          background-image: url(utils/fb.svg);
        }
        .twitter {
          background-image: url(utils/twit.svg);
        }
        .instagram {
          background-image: url(utils/instagram.svg);
        }
      }
    }
  }
}
