@import 'mixins';
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rosario:700&display=swap9);

@import 'fonts';
@import 'icons';

$fontFamily1: 'DM Sans';
$fontFamily2: 'Rosario';

$lightGreen: #f3fbf8;
$white: #ffffff;
$darkGreen: #09a66d;
$black: #222222;

$maxWidthContainer: 1240;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import 'normalize';
@import 'header';
@import 'banner';
@import 'introduction';
@import 'specialItems';
@import 'customers';
@import 'footer';

body {
  .wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  font-family: $fontFamily1;
  font-weight: 400;
  font-size: 18px;
  line-height: 30 / 18 * 100%;
  color: $black;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}

._bg-green {
  background-color: $lightGreen;
}
._bg-white {
  background-color: $white;
}

._title {
  font-family: $fontFamily2;
  font-weight: 700;
  font-size: 70px;
  line-height: 90 / 70 * 100%;
  @media (max-width: $md2+px) {
    font-size: 50px;
  }
  @media (max-width: $md3+px) {
    font-size: 35px;
  }
  @media (max-width: $md4+px) {
    font-size: 30px;
  }
}

.banner {
  &__button {
    display: flex;
    align-items: center;
    width: 175px;
  }
  &__button-text {
    text-decoration: none;
    text-align: center;
    color: $black;
    margin-right: 20px;
    &:hover {
      color: $darkGreen;
    }
  }
  &__button-icon {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: $darkGreen;
    cursor: pointer;
    padding-top: 22px;
    padding-left: 12px;
    &:hover {
      background-color: seagreen;
    }
  }
}
