$lightGreen: #f3fbf8;
$white: #ffffff;
$darkGreen: #09a66d;
$black: #222222;

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  color: $black;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}
h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.wrapper {
  margin: 0 100px;
}
.bg-green {
  background-color: $lightGreen;
}
.bg-white {
  background-color: $white;
}
.title {
  margin: 0;
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  font-size: 70px;
}
.banner-button {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    text-align: center;
    color: $black;
    margin-right: 20px;
  }
  div {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    background-color: $darkGreen;
    background-image: url(utils/banner-errow.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}
.banner {
  position: relative;
}
.planet-earth {
  height: 56px;
  width: 56px;
  background-image: url(utils/planet-earth.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-menu {
    display: flex;
    margin: 66px 0;
    li {
      margin-right: 40px;
    }
  }
  .header-buttons {
    display: flex;
    margin-left: 117px;
    .icon {
      height: 40px;
      width: 40px;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .search {
      margin-right: 21px;
      background-image: url(utils/Search.svg);
    }
    .buy {
      background-image: url(utils/Buy.svg);
      margin-right: 32px;
    }
    .header-button {
      margin-right: 78px;
      color: $white;
      text-decoration: none;
      text-align: center;
      padding: 10px 0;
      width: 160px;
      height: 20px;
      background-color: $darkGreen;
      border-radius: 8px;
    }
  }
}

.section-01 {
  .banner-01 {
    height: 850px;
    .leaves {
      position: absolute;
      top: -43px;
      left: 0;
    }
    .banner-info {
      position: absolute;
      z-index: 2;
      margin: 90px 0 30px 0;
      .title {
        text-align: center;
      }
      .banner-01-description {
        margin-top: 22px;
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 41px;
      }
      .banner-button {
        justify-content: center;
      }
      .banner-01-img {
        margin: -49px 104px 0 42px;
        img {
          height: 465px;
        }
      }
      .banner-01-item {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 250px;
        height: 116px;
        padding: 0 0 0 30px;
        margin-right: 28px;
        .item-text {
          margin-left: 35px;
          .item-title {
            margin: 0;
            font-weight: 400;
            font-size: 48px;
          }
          .item-description {
            text-align: center;
          }
        }
      }
    }
  }
  .grid1 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 4;
  }
  .grid1-item-01 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .grid1-item-02 {
    grid-row: 2/5;
    grid-column: 1/2;
  }
  .grid1-item-03 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .grid1-item-04 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .grid1-item-05 {
    grid-row: 4/5;
    grid-column: 2/3;
  }
}

.section-02 {
  position: relative;
  .line {
    position: absolute;
    z-index: -1;
    right: 111px;
    top: -42px;
    width: 945px;
    height: 530px;
    background-image: url(utils/line.svg);
  }
  .content {
    .title {
      margin-top: 140px;
    }
    .section-02-description {
      margin-top: 25px;
      line-height: 1.5;
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        height: 80px;
        width: 80px;
        border-radius: 100%;
        position: relative;
        margin: 30px 0 0 0;
        img {
          position: absolute;
          margin-left: 50%;
          margin-top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .item-text {
        margin: 20px 0 10px 15px;
        .item-title {
          margin: 10px 0;
          font-weight: 700;
          font-size: 20px;
        }
        .item-description {
          font-size: 14px;
        }
      }
    }
    .errow-down {
      margin: auto;
      height: 34px;
      width: 15px;
      background-image: url(utils/Arrow-down.svg);
      background-position: center;
      background-repeat: no-repeat;
    }

    .section-02-image {
      position: relative;
      margin-top: -18px;
      margin-left: 184px;
      width: 600px;
      height: 600px;
      background-image: url(utils/section1.01.svg);
      background-repeat: no-repeat;
      background-position: right;
      div {
        position: absolute;
        width: 420px;
        height: 420px;
        background-color: $darkGreen;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 50%;
        transform: translate(-50%, -50%);
        img {
          position: absolute;
          z-index: 3;
          margin-left: 50%;
          margin-top: 137px;
          transform: translate(-50%, -50%);
        }
      }
      .rectangle {
        position: absolute;
        z-index: 2;
        height: 424px;
        width: 40px;
        border-radius: 0;
        background-color: $white;
        top: -50%;
        left: -20px;
      }
      .rectangle-r {
        transform: rotate(45deg);
      }
      .rectangle-l {
        transform: rotate(-45deg);
      }
    }
  }

  .grid2 {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 6;
  }
  .grid2-item-01 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .grid2-item-02 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .grid2-item-03 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .grid2-item-04 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid2-item-05 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .grid2-item-06 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .grid2-item-07 {
    grid-column: 2/3;
    grid-row: 3/7;
  }
}

.section-03 {
  position: relative;
  margin-top: 145px;
  .leaves {
    position: absolute;
    bottom: 10px;
    right: 17px;
  }
  .banner-02 {
    height: 830px;
    .banner-02-content {
      display: flex;
      padding-top: 90px;
      .banner-02-img {
        margin-right: 50px;
      }
      .banner-02-info {
        margin-top: 30px;
        .banner-02-description {
          margin-top: 30px;
          line-height: 30px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

.section-04 {
  height: 750px;
  .section-04-content {
    display: flex;
    padding-top: 95px;
    .section-04-img {
      position: relative;
      height: 500px;
      width: 500px;
      border-radius: 100%;
      margin-left: 110px;
      margin-top: 44px;
      background-color: $lightGreen;
      background-image: url(utils/man.png);
      background-position: center bottom;
      background-repeat: no-repeat;
      .people {
        position: absolute;
        width: 220pt;
        height: 150px;
        background-image: url(utils/people.png);
        background-position: center center;
        background-repeat: no-repeat;
        left: -48px;
        bottom: -35px;
      }
    }
    .section-04-info {
      margin-top: 5px;
      .section-04-description {
        margin-top: 40px;
        line-height: 30px;
        margin-bottom: 40px;
      }
      .section-04-username {
        margin: 0;
        font-size: 30px;
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .raiting {
          img {
            margin-right: 10px;
          }
        }
        div {
          display: flex;
          .button-left {
            height: 56px;
            width: 56px;
            border-radius: 100%;
            border: 1px #cccccc solid;
            background-image: url(utils/errow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
          }
          .button-right {
            margin-left: 26px;
            margin-right: 160px;
            height: 56px;
            width: 56px;
            border-radius: 100%;
            background-color: $darkGreen;
            border: 1px $darkGreen solid;
            background-image: url(utils/errow-right.svg);
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}

.footer {
  .footer-01 {
    display: flex;
    margin-top: 40px;
    height: 638px;
    .footer-01-image {
      margin: 0 120px 0 100px;
      height: 485px;
      width: 250px;
      position: relative;
      .small-phone {
        position: absolute;
        top: 30px;
      }
      .large-phone {
        position: absolute;
        left: 20px;
      }
    }
    .download {
      margin: 34px 0 20px 0;
      width: 170px;
      height: 20px;
      background-color: $lightGreen;
      text-align: center;
      border-radius: 40%;
      padding: 10px 6px;
      a {
        font-size: 18px;
      }
    }
    .footer-description {
      margin: 30px 0 55px 0;
      line-height: 1.5;
    }
    .apps {
      a {
        margin-right: 24px;
      }
    }
  }
  .footer-02 {
    display: flex;
    justify-content: space-between;
    height: 435px;
    .block-01 {
      .planet-earth {
        height: 70px;
        width: 70px;
        background-size: 100%;
        margin: 66px 0 30px 0;
      }
      p{
        line-height: 1.6;
      }
    }
    h2 {
      margin: 105px 0 40px 0;
    }
    li {
      margin-bottom: 24px;
    }
    .block-04 {
      margin-right: 70px;
      .social-network {
        display: flex;
        margin-top: 25px;
        a {
          height: 24px;
          width: 24px;
          background-repeat: no-repeat;
          background-position: left center;
          margin-right: 50px;
        }
        .fb {
          background-image: url(utils/fb.svg);
        }
        .twitter {
          background-image: url(utils/twit.svg);
        }
        .instagram {
          background-image: url(utils/instagram.svg);
        }
      }
    }
  }
}
