body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  color: #222222;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.wrapper {
  margin: 0 100px;
}

.bg-green {
  background-color: #f3fbf8;
}

.bg-white {
  background-color: #ffffff;
}

.title {
  margin: 0;
  font-family: 'Rosario', sans-serif;
  font-weight: 700;
  font-size: 70px;
}

.banner-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-button a {
  text-decoration: none;
  text-align: center;
  color: #222222;
  margin-right: 20px;
}

.banner-button div {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-color: #09a66d;
  background-image: url(utils/banner-errow.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.banner-button div:hover {
  background-color: seagreen;
}

.banner {
  position: relative;
}

.planet-earth {
  height: 56px;
  width: 56px;
  background-image: url(utils/planet-earth.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 66px 0;
}

.header .header-menu li {
  margin-right: 40px;
}

.header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 117px;
}

.header .header-buttons .icon {
  height: 40px;
  width: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header .header-buttons .search {
  margin-right: 21px;
  background-image: url(utils/Search.svg);
}

.header .header-buttons .buy {
  background-image: url(utils/Buy.svg);
  margin-right: 32px;
}

.header .header-buttons .header-button {
  margin-right: 78px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  width: 160px;
  height: 20px;
  background-color: #09a66d;
  border-radius: 8px;
}

.header .header-buttons .header-button:hover {
  background-color: seagreen;
}

.section-01 .banner-01 {
  height: 850px;
}

.section-01 .banner-01 .leaves {
  position: absolute;
  top: -43px;
  left: 0;
}

.section-01 .banner-01 .banner-info {
  position: absolute;
  z-index: 2;
  margin: 90px 0 30px 0;
}

.section-01 .banner-01 .banner-info .title {
  text-align: center;
}

.section-01 .banner-01 .banner-info .banner-01-description {
  margin-top: 22px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 41px;
}

.section-01 .banner-01 .banner-info .banner-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-01 .banner-01 .banner-info .banner-01-img {
  margin: -49px 104px 0 42px;
}

.section-01 .banner-01 .banner-info .banner-01-img img {
  height: 465px;
}

.section-01 .banner-01 .banner-info .banner-01-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 250px;
  height: 116px;
  padding: 0 0 0 30px;
  margin-right: 28px;
}

.section-01 .banner-01 .banner-info .banner-01-item .item-text {
  margin-left: 35px;
}

.section-01 .banner-01 .banner-info .banner-01-item .item-text .item-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
}

.section-01 .banner-01 .banner-info .banner-01-item .item-text .item-description {
  text-align: center;
}

.section-01 .grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
      grid-template-columns: 2;
  -ms-grid-rows: 4;
      grid-template-rows: 4;
}

.section-01 .grid1-item-01 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.section-01 .grid1-item-02 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.section-01 .grid1-item-03 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.section-01 .grid1-item-04 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.section-01 .grid1-item-05 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.section-02 {
  position: relative;
}

.section-02 .line {
  position: absolute;
  z-index: -1;
  right: 111px;
  top: -42px;
  width: 945px;
  height: 530px;
  background-image: url(utils/line.svg);
}

.section-02 .content .title {
  margin-top: 140px;
}

.section-02 .content .section-02-description {
  margin-top: 25px;
  line-height: 1.5;
}

.section-02 .content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-02 .content .item .icon {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  position: relative;
  margin: 30px 0 0 0;
}

.section-02 .content .item .icon img {
  position: absolute;
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-02 .content .item .item-text {
  margin: 20px 0 10px 15px;
}

.section-02 .content .item .item-text .item-title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 20px;
}

.section-02 .content .item .item-text .item-description {
  font-size: 14px;
}

.section-02 .content .errow-down {
  margin: auto;
  height: 34px;
  width: 15px;
  background-image: url(utils/Arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.section-02 .content .section-02-image {
  position: relative;
  margin-top: -18px;
  margin-left: 184px;
  width: 600px;
  height: 600px;
  background-image: url(utils/section1.01.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.section-02 .content .section-02-image div {
  position: absolute;
  width: 420px;
  height: 420px;
  background-color: #09a66d;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-02 .content .section-02-image div img {
  position: absolute;
  z-index: 3;
  margin-left: 50%;
  margin-top: 137px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-02 .content .section-02-image .rectangle {
  position: absolute;
  z-index: 2;
  height: 424px;
  width: 40px;
  border-radius: 0;
  background-color: #ffffff;
  top: -50%;
  left: -20px;
}

.section-02 .content .section-02-image .rectangle-r {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-02 .content .section-02-image .rectangle-l {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-02 .grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2;
      grid-template-columns: 2;
  -ms-grid-rows: 6;
      grid-template-rows: 6;
}

.section-02 .grid2-item-01 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.section-02 .grid2-item-02 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.section-02 .grid2-item-03 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section-02 .grid2-item-04 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.section-02 .grid2-item-05 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.section-02 .grid2-item-06 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.section-02 .grid2-item-07 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
}

.section-03 {
  position: relative;
  margin-top: 145px;
}

.section-03 .leaves {
  position: absolute;
  bottom: 10px;
  right: 17px;
}

.section-03 .banner-02 {
  height: 830px;
}

.section-03 .banner-02 .banner-02-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
}

.section-03 .banner-02 .banner-02-content .banner-02-img {
  margin-right: 50px;
}

.section-03 .banner-02 .banner-02-content .banner-02-info {
  margin-top: 30px;
}

.section-03 .banner-02 .banner-02-content .banner-02-info .banner-02-description {
  margin-top: 30px;
  line-height: 30px;
  margin-bottom: 50px;
}

.section-04 {
  height: 750px;
}

.section-04 .section-04-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 95px;
}

.section-04 .section-04-content .section-04-img {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 100%;
  margin-left: 110px;
  margin-top: 44px;
  background-color: #f3fbf8;
  background-image: url(utils/man.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}

.section-04 .section-04-content .section-04-img .people {
  position: absolute;
  width: 220pt;
  height: 150px;
  background-image: url(utils/people.png);
  background-position: center center;
  background-repeat: no-repeat;
  left: -48px;
  bottom: -35px;
}

.section-04 .section-04-content .section-04-info {
  margin-top: 5px;
}

.section-04 .section-04-content .section-04-info .section-04-description {
  margin-top: 40px;
  line-height: 30px;
  margin-bottom: 40px;
}

.section-04 .section-04-content .section-04-info .section-04-username {
  margin: 0;
  font-size: 30px;
}

.section-04 .section-04-content .section-04-info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-04 .section-04-content .section-04-info .buttons .raiting img {
  margin-right: 10px;
}

.section-04 .section-04-content .section-04-info .buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-04 .section-04-content .section-04-info .buttons div .button-left {
  height: 56px;
  width: 56px;
  border-radius: 100%;
  border: 1px #cccccc solid;
  background-image: url(utils/errow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.section-04 .section-04-content .section-04-info .buttons div .button-left:hover {
  background-color: seagreen;
}

.section-04 .section-04-content .section-04-info .buttons div .button-right {
  margin-left: 26px;
  margin-right: 160px;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  background-color: #09a66d;
  border: 1px #09a66d solid;
  background-image: url(utils/errow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.section-04 .section-04-content .section-04-info .buttons div .button-right:hover {
  background-color: seagreen;
}

.footer .footer-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  height: 638px;
}

.footer .footer-01 .footer-01-image {
  margin: 0 120px 0 100px;
  height: 485px;
  width: 250px;
  position: relative;
}

.footer .footer-01 .footer-01-image .small-phone {
  position: absolute;
  top: 30px;
}

.footer .footer-01 .footer-01-image .large-phone {
  position: absolute;
  left: 20px;
}

.footer .footer-01 .download {
  margin: 34px 0 20px 0;
  width: 170px;
  height: 20px;
  background-color: #f3fbf8;
  text-align: center;
  border-radius: 40%;
  padding: 10px 6px;
}

.footer .footer-01 .download a {
  font-size: 18px;
}

.footer .footer-01 .footer-description {
  margin: 30px 0 55px 0;
  line-height: 1.5;
}

.footer .footer-01 .apps a {
  margin-right: 24px;
}

.footer .footer-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 435px;
}

.footer .footer-02 .block-01 .planet-earth {
  height: 70px;
  width: 70px;
  background-size: 100%;
  margin: 66px 0 30px 0;
}

.footer .footer-02 .block-01 p {
  line-height: 1.6;
}

.footer .footer-02 h2 {
  margin: 105px 0 40px 0;
}

.footer .footer-02 li {
  margin-bottom: 24px;
}

.footer .footer-02 .block-04 {
  margin-right: 70px;
}

.footer .footer-02 .block-04 .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.footer .footer-02 .block-04 .social-network a {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 50px;
}

.footer .footer-02 .block-04 .social-network .fb {
  background-image: url(utils/fb.svg);
}

.footer .footer-02 .block-04 .social-network .twitter {
  background-image: url(utils/twit.svg);
}

.footer .footer-02 .block-04 .social-network .instagram {
  background-image: url(utils/instagram.svg);
}
/*# sourceMappingURL=style.css.map */