.policyAndTerms {
  padding-top: 100px;
  border-bottom: $dark-white 2px solid;
  @media (max-width: $md3+px) {
    padding-top: 60px;
  }
  &__content {
    margin: 180px 200px 160px 200px;
    @media (max-width: $md2+px) {
      margin: 180px 40px 120px 40px;
    }
    @media (max-width: $md3+px) {
      margin: 130px 40px 120px 40px;
    }
    @media (max-width: $md4+px) {
      margin: 70px 0 90px 0;
    }
  }
  h1 {
    margin-bottom: 70px;
    text-align: center;
    @media (max-width: $md4+px) {
      text-align: left;
    }
  }
  a {
    color: $blue;
  }
  br {
    display: block;
    content: '';
    margin: 15px 0;
  }
  p {
    font-size: 16px;
    line-height: calc(28 / 16 * 100%);
    @media (max-width: $md3+px) {
      font-size: 14px;
    }
  }
  span {
    color: $grey;
  }
  ol ol ol {
    list-style-type: lower-alpha;
    padding-left: 35px;
    @media (max-width: $md4+px) {
      padding-left: 10px;
    }
    li {
      counter-increment: item3;
      &::before {
        content: none;
        padding-right: 0;
      }
    }
  }
  ol ol {
    font-weight: 400;
    li {
      margin-left: 33px;
      counter-increment: item2;
      padding-left: 15px;
      @media (max-width: $md4+px) {
        padding-left: 0;
        margin-left: 25px;
      }
      &::before {
        content: counter(item) '.' counter(item2) ' ';
        font-weight: 400;
        padding-right: 30px;
        @media (max-width: $md4+px) {
          padding-right: 10px;
        }
      }
    }
  }
  ol {
    font-size: 16px;
    line-height: calc(28 / 16 * 100%);
    color: $black;
    list-style-type: none;
    @media (max-width: $md3+px) {
      font-size: 14px;
    }
    li {
      margin: 15px 0 0 0;
      counter-increment: item;
      &::before {
        content: counter(item) '. ';
        font-weight: bold;
        padding-right: 30px;
        @media (max-width: $md4+px) {
          padding-right: 10px;
        }
      }
    }
  }
}
