.cart-header {
  @media (min-width: $pc+px) {
    position: fixed;
    padding: 60px 0;
    width: 230px;
    height: 100%;
  }
  &__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255);
    @media (max-width: $pc+px) {
      position: absolute;
      top: 80px;
      min-height: 50%;
      right: 0;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      transform: translate(-100%, -100%);
      background-color: $lightGrey;
      padding: 15px;
      ._active & {
        opacity: 1;
        visibility: visible;
        transform: translate(0px, 0px);
      }
      @media (max-width: $phone+px) {
        top: 65px;
      }
    }
  }
  &__title {
    min-width: 100%;
    margin-bottom: 12px;
    height: 50px;
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: calc(30 / 24 * 100%);
    font-weight: 500;
    color: $black;
  }
  &__button {
    min-width: 100%;
    margin-bottom: 12px;
    height: 48px;
  }
}

.cart-list {
  flex: 1 1 auto;
  max-height: 500px;
  overflow: auto;
  &__item {
    display: flex;
    padding: 10px;
    @include avaptive-value('margin-bottom', 25, 10, 1);
    @media (max-width: $pc+px) {
      background-color: $white;
    }
  }
  &__image {
    flex: 0 0 80px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }
  &__title {
    color: $black;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(22 / 18 * 100%);
    margin-bottom: 5px;
  }
  &__info {
    width: 100%;
    @media (max-width: $pc+px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__position {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: $black;
    line-height: calc(14 / 14 * 100%);
    transition: all 0.3s ease 0s;
    width: 18px;
    height: 18px;
    &:hover {
      border-radius: 100%;
      background-color: $red;
      color: $white;
    }
  }
  &__quantity {
    font-size: 18px;
    font-weight: 700;
    color: $black;
    line-height: calc(22 / 18 * 100%);
  }
  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: $black;
    line-height: calc(14 / 14 * 100%);
    transition: all 0.3s ease 0s;
    width: 18px;
    height: 18px;
    &:hover {
      border-radius: 100%;
      background-color: $red;
      color: $white;
    }
  }
  &__price {
    margin-top: 5px;
    font-weight: 700;
    line-height: calc(22 / 18 * 100%);
    color: $black;
    width: 100px;
  }
}

.empty {
  display: block;
  background-color: $lightGrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: $black;
    font-size: 22px;
    font-weight: 500;
    line-height: calc(30 / 24 * 100%);
    padding: 10px;
  }
  &__text {
    line-height: calc(22 / 18 * 100%);
    padding: 0 10px 26px 10px;
  }
  &__button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $orange;
    color: $white;
    font-size: 14px;
    line-height: calc(18 / 14 * 100%);
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $red;
    }
  }
  &__map {
    position: relative;
    margin-top: 20px;
    margin-bottom: 28px;
    width: 100%;
    iframe {
      filter: grayscale(1);
      @media (max-width: $pc+px) {
        width: 100%;
      }
    }
  }
  &__location-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    &::before {
      color: $white;
      font-size: 40px;
    }
  }
  &__order-btn {
    margin-bottom: 12px;
    width: 100%;
    height: 48px;
    @media (min-width: $pc+px) {
      display: none;
    }
  }
  &._remove {
    display: none;
  }
}
