.menu {
  @media (max-width: $pc+px) {
    transform: translate(calc(100%), 0px);
    transition: transform 0.8s ease 0s;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: auto;
    padding: 100px 10px 30px 10px;
    background-color: $white;
    opacity: 0.9;
    z-index: 5;
    &._active {
      transform: translate(0px, 0%);
    }
  }
  &__container {
    margin: rem(30) 0;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    @include avaptive-value('font-size', 30, 26, 1);
    color: $black;
    img {
      padding-bottom: em(15, 30);
    }
  }
  &__line {
    margin-top: 30px;
    display: block;
    content: '';
    background-color: $grey;
    width: 100%;
    height: 0.5px;
  }
  &__body {
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    li {
      position: relative;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: em(30, 20);
    color: $black;
    transition: color 0.3s ease 0s;
    @include avaptive-value('font-size', 20, 18, 1);
    line-height: calc(30 / 24 * 100%);
    &:hover {
      color: $orange;
    }
  }
  &__icon {
    margin-right: 20px;
  }
  &__label {
    position: absolute;
    top: em(25, 10);
    right: em(10, 10);
    width: em(50, 10);
    height: em(15, 10);
    border-radius: 30px;
    background-color: $red;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include avaptive-value('font-size', 10, 8, 1);
    letter-spacing: em(0.7, 10);
    text-transform: uppercase;
  }
}
