.menu {
  &__container {
    margin: rem(30) 0;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    @include avaptive-value('font-size', 30, 26, 1);
    color: $black;
    img {
      padding-bottom: em(15, 30);
    }
  }
  &__line {
    margin-top: 30px;
    display: block;
    content: '';
    background-color: $grey;
    width: 100%;
    height: 0.5px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    li {
      position: relative;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: em(30, 24);
    color: $black;
    transition: color 0.3s ease 0s;
    @include avaptive-value('font-size', 24, 20, 1);
    line-height: calc(30 / 24 * 100%);
    &:hover {
      color: $orange;
    }
  }
  &__icon {
    margin-right: 20px;
  }
  &__label {
    position: absolute;
    top: em(25, 11);
    right: em(10, 11);
    width: em(50, 11);
    height: em(15, 11);
    border-radius: 30px;
    background-color: $red;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include avaptive-value('font-size', 11, 10, 1);
    letter-spacing: em(0.7, 11);
    text-transform: uppercase;
  }
  @media (max-width: $tablet+px) {
    display: none;
  }
}
