@import 'mixins';
@import 'fonts';
@import 'icons';

$fontFamily: 'DinPro';
$fontSize: rem(18);

$black: #111111;
$white: #ffffff;
$orange: #ff9846;
$red: #f46d40;
$grey: #a4acad;
$lightGrey: #f2f2f2;

$maxWidth: 1920;
$maxWidthContainer: 1410;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth; //for PC, laptops and tablets in a horizontal position
$tablet: 991.98; //for tablets and some phones in a horizontal position
$phone: 767.98;
$phoneSmall: 479.98;

@import 'normalize';
@import 'menu';
@import 'header';
@import 'cart';
@import 'footer';

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: $fontFamily;
  font-weight: 400;
  font-size: $fontSize;
  line-height: calc(18 / 18 * 100%);
  color: $grey;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  background-color: $lightGrey;
  flex: 1 1 auto;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $pc+px) {
    margin: 0 15px;
  }
  @media (max-width: $tablet+px) {
    margin: 0;
  }
}

.body__container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 10px;
  @media (max-width: $pc+px) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

._title {
  @include avaptive-value('font-size', 56, 25, 1);
  color: $black;
  line-height: calc(67 / 56 * 100%);
  font-weight: 700;
}

.btn {
  background-color: $red;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: calc(22 / 18 * 100%);
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: $orange;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

//for cart
._fly-image {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
