@import 'mixins';
@import 'fonts';
@import 'icons';

$fontFamily: 'DinPro';
$fontSize: 18px;

$black: #111111;
$white: #ffffff;
$orange: #ff9846;
$red: #f46d40;
$grey: #a4acad;
$lightGrey: #f2f2f2;

$maxWidth: 1920;
$maxWidthContainer: 1410;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth; //for PC, laptops and tablets in a horizontal position
$tablet: 991.98; //for tablets and some phones in a horizontal position
$phone: 767.98;
$phoneSmall: 479.98;

@import 'normalize';
@import 'menu';
@import 'header';

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: $fontSize;
  line-height: calc(18 / 18 * 100%);
  color: $grey;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $pc+px) {
    margin: 0 15px;
  }
}

.body__container {
  display: grid;
  grid-template-columns: 180px auto 100px;
  gap: 40px;
}

._title {
  @include avaptive-value('font-size', 56, 25, 1);
  color: $black;
  line-height: calc(67 / 56 * 100%);
  font-weight: 700;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
  background-color: red;
  color: $white;
  &:hover {
    background-color: rgba(255, 0, 0, 0.61);
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

//for cart
._fly-image {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.cart-header {
  position: relative;
  &__body {
    background-color: rgba(255, 255, 255);
    border: 1px solid #e0e0e0e3;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 15px;
    width: 300px;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    transform: translate(0px, 20px);
    ._active & {
      opacity: 1;
      visibility: visible;
      transform: translate(0px, 0px);
    }
    @media (max-width: $tablet+px) {
      position: fixed;
      top: 80px;
      right: 0;
    }
    @media (max-width: $phone+px) {
      width: 100%;
    }
  }
}

.cart__button {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  @media (max-width: $tablet+px) {
    margin-right: 50px;
  }
  .cart__image {
    height: 20px;
    width: 16px;
    background-image: url(../img/buy.svg);
  }
  .cart__text {
    display: flex;
    align-items: center;
    margin: 0 9px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: $black;
    &:hover {
      color: red;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 7px;
      width: 20px;
      height: 20px;
      background-color: $black;
      border-radius: 100%;
      color: $white;
      font-size: 11px;
      font-family: $fontFamily;
    }
  }
}
.cart-list {
  overflow: auto;
  max-height: 200px;
  &__image {
    flex: 0 0 100px;
    height: 100px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
  }
  &__title {
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    margin-bottom: 5px;
  }
  &__quantity {
    padding: 5px 0;
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__delete {
    font-size: 14px;
    color: rgb(228, 82, 15);
    @media (any-hover) {
      &:hover {
        font-weight: 500;
      }
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
