.footer {
  .footer-form {
    background-color: $dark-white;
    &__title {
      margin-bottom: 40px;
    }
    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .floating-label-input {
      position: relative;
      height: 60px;
      width: 100%;
      border-bottom: 2px solid $blue;
      margin-bottom: 30px;
      &._error {
        border-bottom: 2px solid $red;
      }
      .form__label {
        position: absolute;
        left: 15px;
        bottom: 18px;
        transition: 0.5s;
        color: $blue;
        font-size: 18px;
        &._error {
          color: $red;
        }
      }
      .error-text {
        display: none;
        &._error {
          display: block;
          position: absolute;
          padding-top: 5px;
          font-size: 12px;
          color: $red;
        }
      }
      .error-icon {
        display: none;
        &._error {
          display: block;
          &::after {
            position: absolute;
            content: url(../img/error-icon.svg);
            height: 5px;
            right: 10px;
            top: 25px;
          }
        }
      }
      .form__input {
        position: relative;
        height: 100%;
        width: 100%;
        font-size: 16px;
        background: transparent;
        &:focus + label {
          bottom: 40px;
          font-size: 14px;
        }
        &._active + label {
          bottom: 40px;
          font-size: 14px;
        }
      }
    }
    .select {
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        right: 15px;
        content: '';
        display: block;
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: $blue transparent;
      }
      select {
        display: block;
        width: 100%;
        padding: 0 15px;
        background: none;
        border: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 16px;
        color: $blue;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        bottom: 15px;
      }
      option {
        color: $black;
        font-size: 14px;
        &:first-child {
          color: $blue;
          font-size: 16px;
        }
      }
    }
    ._large {
      width: 100%;
    }
    ._small {
      width: 49%;
      @media (max-width: $md3+px) {
        width: 100%;
      }
    }
    &__button {
      margin: 40px 0 0 auto;
      @media (max-width: $md3+px) {
        margin: 40px auto;
      }
    }
  }
  .footer-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    @media (max-width: $md2+px) {
      display: block;
      margin-bottom: 50px;
    }
    @media (max-width: $md3+px) {
      hr {
        background-color: #f6f6f6;
        height: 2px;
        width: 100%;
      }
    }

    .footer-navigation {
      display: flex;
      align-items: center;
      @media (max-width: $md3+px) {
        flex-direction: column-reverse;
      }
      &__social-network {
        margin: 63px 0;
        display: flex;
        @media (max-width: $md2+px) {
          margin: 50px auto 50px 0;
        }
        @media (max-width: $md3+px) {
          margin: 50px auto;
        }
      }
      &__social-network-link {
        margin-right: 30px;
        color: $black;
        @media (max-width: $md2+px) {
          &:last-child {
            margin-right: 0;
          }
        }
        &:hover {
          color: $blue;
        }
      }
      &__list {
        display: flex;
        @media (max-width: $md3+px) {
          flex-wrap: wrap;
        }
      }
      &__link {
        margin-left: 30px;
        @media (max-width: $md3+px) {
          margin: 0;
          width: 50%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          color: $black;
          &:hover {
            color: $blue;
          }
        }
      }
    }
    ._copy {
      color: $grey;
      span {
        margin-right: 30px;
        line-height: 21px;
        @media (max-width: $md2+px) {
          display: block;
          text-align: center;
          margin: 20px auto;
        }
        @media (max-width: $md3+px) {
          max-width: 180px;
        }
        
      }
    }
  }
}
