@font-face {
  font-family: 'icons';
  font-display: swap;
  src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.woff2#icons') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

%ic {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='_icon-'],
[class*=' _icon-'] {
  &:before {
    @extend %ic;
    display: block;
  }
}

._icon-google:before {
  content: '\e900';
}
._icon-phone:before {
  content: '\e942';
}
._icon-envelop:before {
  content: '\e945';
}
._icon-mail2:before {
  content: '\ea84';
}
._icon-github:before {
  content: '\eab0';
}
._icon-skype:before {
  content: '\eac5';
}
._icon-linkedin2:before {
  content: '\eaca';
}
