.main-banner {
  position: relative;
  @include avaptive-value('height', 630, 400, 1);
  &__image {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(40%);
  }
  &__content {
    position: absolute;
    @include avaptive-value('max-height', 200, 150, 1);
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__text {
    margin: 0 auto;
    color: $white;
    opacity: 0.8;
    text-align: center;
    @include avaptive-value('font-size', 18, 14, 1);
    letter-spacing: 2px;
  }
  &__title {
    text-align: center;
    color: $white;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include avaptive-value('margin-top', 30, 20, 1);
    @include avaptive-value('margin-bottom', 30, 20, 1);
  }
}

.portfolio {
  @include avaptive-value('padding-top', 44, 25, 1);
  @include avaptive-value('padding-bottom', 44, 25, 1);
  &__container {
  }
  &__title {
    text-align: center;
    @include avaptive-value('padding-bottom', 32, 16, 1);
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    row-gap: 32px;
    column-gap: 32px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
  }
  .item-portfolio {
    &__image {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        filter: brightness(80%);
        box-shadow: 10px 5px 5px rgba(61, 61, 61, 0.1);
      }
    }
    &__body {
      flex: 1 1 auto;
      padding: 16px 16px 30px 16px;
      display: flex;
      flex-direction: column;
    }
    &__content {
      flex: 1 1 auto;
    }
    &__title {
      padding-bottom: 8px;
    }
    &__description {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      line-height: calc(24 / 16 * 100%);
      padding: 16px 0;
    }
    &__features {
    }
    &__features-title {
      @include avaptive-value('font-size', 20, 18, 1);
      color: inherit;
      line-height: calc(24 / 20 * 100%);
      font-weight: 500;
      padding-bottom: 16px;
      transition: color 0.3s ease 0s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &._active {
        color: $green;
        .item-portfolio__arrow {
          transform: rotate(-180deg);
          color: $green;
        }
      }
    }
    &__arrow {
      font-size: 12px;
      background-color: transparent;
      transition: all 0.3s ease 0s;
    }
    ._icon-arrow-down {
    }
    &__features-list {
      padding-left: 16px;
    }
    &__features-item {
      list-style-type: circle;
      font-family: inherit;
      &:not(:last-child) {
        padding-bottom: 10px;
      }
    }
    &__button {
      @include avaptive-value('margin-top', 32, 16, 1);
      border: $green 1px solid;
      width: 100%;
      height: 48px;
      @media (min-width: $md2+px) {
        width: 245px;
      }
    }
  }
}
