.main-banner {
  position: relative;
  height: 100vh;
  &__image {
    width: 100%;
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: brightness(40%);
    will-change: background-image;
  }
  &__content {
    padding: 0 25px;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
  }
  &__text {
    margin: 0 auto;
    color: $text;
    opacity: 0.8;
    text-align: center;
    @include avaptive-value('font-size', 18, 14, 1);
    letter-spacing: 2px;
  }
  &__title {
    text-align: center;
    color: $text;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include avaptive-value('margin-top', 30, 20, 1);
    @include avaptive-value('margin-bottom', 30, 20, 1);
  }
}

.portfolio {
  @include avaptive-value('padding-top', 44, 25, 1);
  @include avaptive-value('padding-bottom', 44, 25, 1);
  &__container {
  }
  &__title {
    text-align: center;
    @include avaptive-value('padding-bottom', 32, 16, 1);
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    row-gap: 32px;
    column-gap: 32px;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
  }
  .item-portfolio {
    &__image {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        filter: brightness(60%);
      }
    }
    &__body {
      flex: 1 1 auto;
      padding: 16px 5px 5px 5px;
      display: flex;
      flex-direction: column;
      background-color: $grey;
      box-shadow: 0px 10px 10px rgba(61, 61, 61, 0.1);
    }
    &__content {
      flex: 1 1 auto;
    }
    &__title {
      padding-bottom: 20px;
      min-height: 130px;
      color: $text;
      letter-spacing: 1.1px;
    }
    &__description {
      color: $black;
      font-size: 16px;
      font-weight: 400;
      line-height: calc(24 / 16 * 100%);
      @include avaptive-value('margin-top', 15, 10, 1);
      padding: 16px 0;
      min-height: 150px;
    }
    &__features {
    }
    &__features-title {
      @include avaptive-value('font-size', 18, 16, 1);
      color: inherit;
      line-height: calc(24 / 20 * 100%);
      font-weight: 500;
      padding-bottom: 16px;
      transition: color 0.3s ease 0s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &._active {
        color: $green;
        .item-portfolio__arrow {
          transform: rotate(-180deg);
          color: $green;
        }
      }
    }
    &__arrow {
      font-size: 10px;
      background-color: transparent;
      transition: all 0.3s ease 0s;
    }
    ._icon-arrow-down {
    }
    &__features-list {
      padding-left: 16px;
    }
    &__features-item {
      list-style-type: circle;
      font-family: inherit;
      &:not(:last-child) {
        padding-bottom: 10px;
      }
    }
    &__button {
      @include avaptive-value('margin-top', 16, 16, 1);
      border: $green 1px solid;
      width: 100%;
      height: 48px;
    }
  }
}
