@import 'mixins';
@import 'fonts';
@import 'icons';

$fontFamily: 'Gilroy';

$black: #161310d7;
$grey: #a19b96;
$background: #b5b3b2;
$white: #ffffff;
$green: #1c5b5c;
$text: #dac1a2;

$maxWidthContainer: 1240;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 768.02;
$md4: 479.98;

@import 'normalize';
@import 'header';
@import 'mainPage';

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  letter-spacing: 1.1px;
  background-color: $grey;
  color: $black;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

._container {
  max-width: $maxWidthContainer + px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: $md1+px) {
    margin-right: 25px;
    margin-left: 25px;
  }
}

h1 {
  @include avaptive-value('font-size', 50, 28, 1);
  color: inherit;
  line-height: calc(67 / 50 * 100%);
  font-weight: 700;
}

h2 {
  @include avaptive-value('font-size', 40, 18, 1);
  color: inherit;
  line-height: calc(48 / 40 * 100%);
  font-weight: 700;
}

h3 {
  @include avaptive-value('font-size', 24, 20, 1);
  color: inherit;
  line-height: calc(29 / 24 * 100%);
  font-weight: 600;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
  min-height: 48px;
  background-color: $green;
  color: $text;
  &:hover {
    opacity: 0.8;
  }
}

a {
  color: $green;
}
