@import 'mixins';
@import 'fonts';
@import 'icons';

$fontFamily: 'Gilroy';

$blackText: #3a3a3a;
$greyText: #898989;
$lightGrey: #b0b0b0;
$white: #ffffff;
$orange: #e89f71;
$red: #e97171;
$greeen: #2ec1ac;

$maxWidthContainer: 1340;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 768.02;
$md4: 479.98;

@import 'normalize';
@import 'header';
@import 'footer';
@import 'mainSlider';

html,
body {
  width: 100%;
  height: 100%;
  font-family: $fontFamily;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16 * 100%);
  color: $blackText;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    margin: 0 25px;
  }
}

h1 {
  @include avaptive-value('font-size', 56, 25, 1);
  color: $blackText;
  line-height: calc(67 / 56 * 100%);
  font-weight: 700;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
  color: $blackText;
  font-weight: 600;
  line-height: calc(33 / 28 * 100%);
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
  color: $blackText;
  font-weight: 600;
  line-height: calc(30 / 20 * 100%);
}
